<html>
  <head> </head>
  <body>
    <h1>Login Page</h1>
    <form action="/loginUser" method="post">
      <p>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username" required />
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" required/>
      </p>
      <p><button type="submit">Login</button></p>
    </form>
  </body>
</html>
