<html>
  <head> </head>
  <body>
    <h1>Register Page</h1>
    <form action="/reg" method="post">
      <p>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username" required />
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" required/>
      </p>
      <p>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" required/>
      </p>
      <p><button type="submit">Create Account</button></p>
    </form>
  </body>
</html>
